<div class="row">
    <div class="col-xs-12">
        <h1>All articles</h1>
    </div>
</div>

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate %>
</div>
