<div class="row">
    <div class="col-xs-10">
        <h1>All users</h1>
    </div>
</div>

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'users', obj: @users %>

<div align="center">
    <%= will_paginate %>
</div>
