$navbar-default-bg: #66f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {float: left; font-size: 2em; color: #fff; text-transform: uppercase; letter-spacing: -1px; font-weight: bold;}
#logo:hover {color: #fff; text-decoration: none;}
.center {text-align: center;}
#top-navbar li a {color: #fff;}
#top-login-navbar li a {color: #fff;}
#top-login-navbar .dropdown-menu a {color: #66f;}
#top-navbar li li a {color: #66f;}
.jumbotron {background-image: asset-url('background.jpg'); background-size: cover;}
.jumbotron h1 {color: #ccc; text-transform: uppercase; padding-bottom: 1em;}

footer {
  margin-top: 10em;
  border-top: 1px solid #ccc;
  font-size: x-small;
  color: #ccc;
}

.badge {
  background-color: #66f;
  text-transform: uppercase;
  font-weight: bold;
}

.badge a {
  color: white;
}
