<table class="table table-hover table-condensed">
  <thead>
    <th>Category</th>
  </thead>
  <tbody>
    <% obj.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <% if logged_in? && current_user.admin? %>
          <td class="text-right">
            <div class="btn-group">
              <%= link_to 'Edit', edit_category_path(category) %>
              <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are you sure to delete this category ?'} %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tbody>
</table>
