<div class="row">
    <div class="col-xs-12">
        <h1>All categories</h1>
    </div>
</div>

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'category', obj: @categories %>

<div align="center">
    <%= will_paginate %>
</div>
